node_modules/
src/
tests/
docs/
.gitignore
README.md
CONTRIBUTING.md
LICENSE
CODEOFCONDUCT.md
PUBLISHING.md
*.log
*.tmp
*.temp
*.sublime-workspace
*.sublime-project
.vscode/
.idea/
jest.config.js
tsconfig.json